---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_102l9b2Q662YjSqne8Obt8uP&email=joe%40example.com&plan=myflix
    headers:
      Authorization:
      - Bearer sk_test_JUomXt215Krfkf767ly4mU9J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\"\n  }\n}\n"
  recorded_at: Tue, 15 Oct 2013 19:15:27 GMT
recorded_with: VCR 2.6.0
