---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_102lnq2Q662YjSqn69S5uw6L
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_JUomXt215Krfkf767ly4mU9J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_102lnq2Q662YjSqn69S5uw6L\",\n  \"created\": 1382014239,\n
        \ \"livemode\": false,\n  \"type\": \"charge.failed\",\n  \"data\": {\n    \"object\":
        {\n      \"id\": \"ch_102lnq2Q662YjSqnGpijcdzi\",\n      \"object\": \"charge\",\n
        \     \"created\": 1382014239,\n      \"livemode\": false,\n      \"paid\":
        false,\n      \"amount\": 999,\n      \"currency\": \"cad\",\n      \"refunded\":
        false,\n      \"card\": {\n        \"id\": \"card_102lnp2Q662YjSqn8KgfZ7N2\",\n
        \       \"object\": \"card\",\n        \"last4\": \"0341\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 10,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"mn4GabznhMpiPHiA\",\n        \"customer\": \"cus_2lFyhfAd8SEagz\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": false,\n      \"refunds\": [],\n      \"balance_transaction\":
        null,\n      \"failure_message\": \"Your card was declined.\",\n      \"failure_code\":
        \"card_declined\",\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2lFyhfAd8SEagz\",\n
        \     \"invoice\": null,\n      \"description\": \"payment to fail\",\n      \"dispute\":
        null,\n      \"metadata\": {}\n    }\n  },\n  \"object\": \"event\",\n  \"pending_webhooks\":
        1,\n  \"request\": \"iar_2lnqLyyPu3jzlI\"\n}\n"
  recorded_at: Thu, 17 Oct 2013 13:28:30 GMT
recorded_with: VCR 2.6.0
