---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=cad&card=tok_102hS12Q662YjSqnCBHwLs0q&description=Sign%20up%20fee%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_JUomXt215Krfkf767ly4mU9J
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_102hS12Q662YjSqnqJXTFekK\",\n  \"object\": \"charge\",\n
        \ \"created\": 1381010484,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"cad\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_102hS12Q662YjSqn8XjHvlS7\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 7,\n    \"exp_year\":
        2016,\n    \"fingerprint\": \"RIfLSrcbOjUrHlZH\",\n    \"customer\": null,\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        \"pass\",\n    \"address_line1_check\": null,\n    \"address_zip_check\":
        null\n  },\n  \"captured\": true,\n  \"refunds\": [],\n  \"balance_transaction\":
        \"txn_102hS12Q662YjSqnLPXbwlpN\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": \"Sign up fee for john@example.com\",\n  \"dispute\": null,\n
        \ \"metadata\": {}\n}\n"
  recorded_at: Sat, 05 Oct 2013 22:01:25 GMT
recorded_with: VCR 2.6.0
