!!! 5
%html(lang="en-US")
  %body
    %p This is a test
    %p You are invited by #{@invitation.inviter.full_name} to join Myflix
    %p= @invitation.message
    %p= link_to "Accept this invitation", "#"